.footer li {
    list-style-type: none;
}
.footer a:link, .footer a:visited, .footer a:hover, .footer a:active {
    color: rgb(141, 155, 194);
}

a {
    color: black;
    text-decoration: none;
}

.hatter {
    background-color: #B2AEAE;
    padding: 15px;
    background-repeat: no-repeat;
}

.gomb {
    width: 122px;
    text-align: center;
    border-radius: 110px;
    border: black 1px solid;
    background: #D9D9D9;
    padding: 3px 16px;
    font-size: 18px;
}

body { margin-top: 20px; }

.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding: 60px;
}

.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}
.footer_area .row > div {
    padding-left: 25px;
    padding-right: 25px;
}

.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover {
    color: #3f43fd;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover {
    color: #3f43fd;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    margin-right: 10px;
}

ol li, ul li {
    list-style: none;
}
ol, ul {
    margin: 0;
    padding: 0;
}

.cim {
    color: white;
    text-align: center;
    text-shadow: 4px 4px black;
    max-width: 40%;
}

.carosul {
  width: 88px;
  border-radius: 5px;
}

.indexc {
  font-size: 32px;
  color: black;
  text-align: center;
  padding: 5px;
}

.dark {
    background: #110f16;
}
.light {
    background: #f3f5f7;
}

a, a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

/* POSTCARD */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}

.postcard.dark { background-color: #18151f; }
.postcard.light { background-color: #e1e5ea; }
.postcard .t-dark { color: #18151f; }

.postcard a { color: inherit; }

.postcard .postcard__title {
    font-size: 1.75rem;
}

.postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
}

.postcard .postcard__img_link {
    display: contents;
}

.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.postcard:hover .postcard__bar {
    width: 100px;
}

.postcard .postcard__text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.postcard .postcard__tagbox {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    margin-top: 20px;
    justify-content: center;
}

.postcard .tag__item {
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 5px;
    transition: background-color 0.3s;
}
.postcard .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
}

/* POSTCARD Gradient fallback */
.postcard::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: nowrap;
    }
    .postcard .postcard__img {
        max-width: 300px;
        transition: transform 0.3s ease;
    }
    .postcard:hover .postcard__img {
        transform: scale(1.1);
    }
}
